[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "==2.89.0"
constructs = ">=10.0.0,<11.0.0"
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
pydantic = "*"
httpx = "*"
bcrypt = "*"
dnspython = "*"
email-validator = "*"
passlib = "*"
pyjwt = "*"
python-dotenv = "*"
toml = "*"
sqlalchemy = "*"
pydantic-settings = "*"


[dev-packages]
ipython = "*"

[scripts]
psql = "docker-compose exec db psql -U postgres"
ipython = "docker-compose exec web ipython"
shell = "docker-compose exec web bash"
api = "uvicorn app.main:app --reload --host 0.0.0.0 --port 8004"