[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
pydantic = "*"
httpx = "*"
bcrypt = "*"
dnspython = "*"
email-validator = "*"
passlib = "*"
pyjwt = "*"
python-dotenv = "*"
toml = "*"
sqlalchemy = "*"
pydantic-settings = "*"
aioyagmail = "*"
feedparser = "*"
gunicorn = "*"
selenium = "*"
beautifulsoup4 = "*"
boto3 = "*"
aws-cdk-lib = "==2.89.0"
constructs = "*"

[dev-packages]
ipython = "*"
danhenderson-api = {editable = true, path = "./backend"}

[scripts]
psql = "docker-compose exec db psql -U admin -d danhenderson"
ipython = "docker-compose exec web ipython"
shell = "docker-compose exec web bash"
